<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/hnicolus/index.json" />
    <add key="Package source 1" value="https://nuget.pkg.github.com/hnicolus/tawkto/index.json" />
    <add key="Package source 2" value="https://nuget.pkg.github.com/hnicolus/Tawkto.OrchardCore/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="hnicolus" />
      <add key="ClearTextPassword" value="b3813f415cc664fc9dd4d79d5f119589db56aa18" />
    </github>
  </packageSourceCredentials>
</configuration>